:root {
  --primary-bg-color: #3674b5;
  --secondary-bg-color: #a1e3f9;
  --tertiary-bg-color: #578fca;
  --bar-color: rgb(4, 4, 73);
  --border-color: rgb(15, 40, 84);
  --primary-color: #D1F8EF;
}

.sidenav {
  background: linear-gradient(270deg,rgba(161, 227, 249, 1) 0%, rgba(87, 143, 202, 1) 50%, rgba(54, 116, 181, 1) 100%);
  min-height: 100%;
}
.sidenav h2{
    color: var(--bar-color);
}

body, html {
  height: 100%;
  background-image: url('/images/background.png');
}

form .form-group label {
  font-weight: 600;
}

.login-wrapper {
  box-shadow: 5px 10px 8px var(--tertiary-bg-color);
  border-radius: 10px;
}