:root {
  --primary-bg-color: rgb(54, 116, 181);
  --secondary-bg-color: rgb(161, 227, 249);
  --tertiary-bg-color: rgb(87, 143, 202);
  --bar-color: rgb(4, 4, 73);
  --border-color: rgb(15, 40, 84);
  --primary-color: #D1F8EF;
}

.bar-style{
  background-color: var(--bar-color);
}

body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--tertiary-bg-color)
}

main{
  background: linear-gradient(270deg,rgba(161, 227, 249, 1) 0%, rgba(87, 143, 202, 1) 50%, rgba(54, 116, 181, 1) 100%);
  box-shadow: 5px 5px 5px black;
}

.homepage{
    height: 100%;
    min-height: 100vh;
    margin:auto;
}

.homepage-box{
    width: 60%;
    margin-top: 20%;
    border: 1px var(--border-color) solid;
    border-radius: 5px;
    box-shadow: 5px 10px 8px var(--primary-bg-color);
    background-color: var(--tertiary-bg-color);
    color: black;
}

.search-box{
  width: 60%;
    margin: auto;
    border: 1px var(--border-color) solid;
    border-radius: 5px;
    box-shadow: 5px 10px 8px var(--primary-bg-color);
    background-color: var(--tertiary-bg-color);
    color: black;
}

.product-card{
    height: 100px;
    border: 1px var(--border-color) solid;
    border-radius: 5px;
    box-shadow: 5px 10px 8px var(--primary-bg-color);
    background-color: var(--tertiary-bg-color);
    color: white;
}

.budgetForm input[type="number"] {
  appearance: textfield;
}

@media print {
  *{
    border: none;
    background-color: white;
    margin: 0;
    line-height: 80%;
  }
  a {
    display: none;
  }  
  .printButtons {
    display: none;
  }
  p{
    font-size: 10px;
  }
}









